@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border: 3px solid #f6f7ed;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 30px;
  grid-auto-flow: column;
  grid-template-areas:
    "controls"
    "player"
    "player-text";

  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 2.5fr;
    grid-template-rows: min-content min-content min-content 1fr;
    gap: 30px 30px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "controls controls"
      "player player-stats"
      "player player-text"
      "player player-text";
  }
}

.presentation {
  max-width: 450px;
}

.presentation>p {
  padding-top: 10px;
}


.gallery {
  max-width: 450px;
}

.cute-words {
  color: #54e8b3;
}


.download-links {
  color: #54e8b3;
}

.explain-links {
  color: #BCFCE5;
}


.controls {
  grid-area: controls;
}

.player {
  grid-area: player;
  grid-template-areas:
    "server-audio"
    "user-audio";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* margin:auto; */
}

.server-audio {
  grid-area: server-audio;
}

.user-audio {
  grid-area: user-audio;
}

.player-stats {
  grid-area: player-stats;
  width: 100%;
  height: 100%;
}

.commands {
  grid-area: commands;
  width: 100%;
  height: 100%;
}

.player-text {
  grid-area: player-text;
  width: 100%;
  height: 100%;
  overflow: scroll;
}